<!-- templates/login.html -->
{{ template "base.html" . }}
{{ define "content" }}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center">Login</h2>
                        {{ if .Error }}
                        <div class="alert alert-danger" role="alert">
                            {{ .Error }}
                        </div>
                        {{ end }}
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="d-grid gap-2">
                                <input type="submit" value="Login" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
{{ define "ShowNavBar" }}false{{ end }}