<!-- templates/base.html -->
<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"> <!-- Replace with your icon path -->

</head>
<body>
    <header>
        {{ if .ShowNavBar }}
        <!-- Navigation bar content -->
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid"> <!-- Use container-fluid to stretch across the entire horizontal width -->
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo-white.png" alt="Logo" width="40" height="40"> 
                    ConfigHub
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-start"> <!-- Use justify-content-start to align items to the left -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Main</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Configuration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/config/general">General</a></li>
                                <li><a class="dropdown-item" href="/config/segment">Segments</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/" aria-disabled="true">Status</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-disabled="true">
                                Logger
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/config/general">Log</a></li>
                                <li><a class="dropdown-item" href="/config/segment">Audit</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Help
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/config/general">General</a></li>
                                <li><a class="dropdown-item" href="/config/segment">RestAPI</a></li>
                            </ul>
                        </li>
                        <!-- Add more navigation links here -->
                    </ul>
                </div>
            </div>
        </nav>
        {{ end }}
    </header>

    {{ block "content" . }}{{ end }}

    <footer>
        <!-- Common footer content -->
    </footer>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
