<!-- templates/config-polling.html -->
{{ template "base.html" . }}

{{ define "content" }}
<div class="container mt-4">
    <h2>Polling Configurations</h2>
    <div class="container-fluid">
        <div class="accordion" id="accordionPollingConfig">
            {{ range $segmentName, $hosts := .Segments }}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ $segmentName }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $segmentName }}" aria-expanded="true" aria-controls="collapse{{ $segmentName }}">
                            Segment: {{ $segmentName }}
                        </button>
                    </h2>
                    <div id="collapse{{ $segmentName }}" class="accordion-collapse collapse" aria-labelledby="heading{{ $segmentName }}" data-bs-parent="#accordionPollingConfig">
                        <div class="accordion-body">
                            <!-- Button Group for Upload and Download -->
                            <div class="btn-group" role="group" aria-label="File Operations">
                                <!-- File Upload Control -->
                                <form action="/config/polling/file?segment={{ $segmentName }}" method="post" enctype="multipart/form-data">
                                    <div class="input-group">
                                        <input type="file" class="form-control" name="file" id="inputGroupFile{{ $segmentName }}">
                                        <input type="hidden" name="segment" value="{{ $segmentName }}"> <!-- Hidden field to send segment name -->
                                        <button class="btn btn-outline-secondary" type="submit" id="buttonUpload{{ $segmentName }}" data-segment="{{ $segmentName }}">Upload</button>

                                    </div>
                                </form>
                                <!-- Download Button -->
                                <a href="/config/polling/file?segment={{ $segmentName }}" class="btn btn-outline-primary" role="button">Download</a>
                            </div>
                            <div class="edit-buttons">
                                <button class="btn btn-primary edit-button" data-segment="{{ $segmentName }}">Edit</button>
                                <button class="btn btn-success save-button" data-segment="{{ $segmentName }}" style="display:none;">Save</button>
                                <button class="btn btn-danger cancel-button" data-segment="{{ $segmentName }}" style="display:none;">Cancel</button>
                            </div>
                            <!-- Table of Hosts -->
                            <div class="table-responsive">
                                <table class="table table-striped mt-3 w-100">
                                    <thead>
                                        <tr>
                                            <th>Hostname</th>
                                            <th>IP Address</th>
                                            <th>Domain</th>
                                            <th>Location</th>
                                            <th>Site</th>
                                            <th>ServerSecurityZone</th>
                                            <th>Prefix</th>
                                            <th>Protocol</th>
                                            <th>Zonename</th>
                                            <th>QueryCount</th>
                                            <th>ZonenameWithRecursion</th>
                                            <th>QueryCountWithRecursion</th>
                                            <th>ServiceMode</th>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $hosts }}
                                            <tr>
                                                <!-- Server Field -->
                                                <td>
                                                    <span class="display-mode Server">{{ .Server }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Server }}" name="Server" style="display:none;">
                                                </td>

                                                <!-- IP Address Field -->
                                                <td>
                                                    <span class="display-mode IPAddress">{{ .IPAddress }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .IPAddress }}" name="IPAddress" style="display:none;">
                                                </td>

                                                <!-- Domain Field -->
                                                <td>
                                                    <span class="display-mode Domain">{{ .Domain }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Domain }}" name="Domain" style="display:none;">
                                                </td>

                                                <!-- Location Field -->
                                                <td>
                                                    <span class="display-mode Location">{{ .Location }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Location }}" name="Location" style="display:none;">
                                                </td>

                                                <!-- Site Field -->
                                                <td>
                                                    <span class="display-mode Site">{{ .Site }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Site }}" name="Site" style="display:none;">
                                                </td>

                                                <!-- ServerSecurityZone Field -->
                                                <td>
                                                    <span class="display-mode ServerSecurityZone">{{ .ServerSecurityZone }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .ServerSecurityZone }}" name="ServerSecurityZone" style="display:none;">
                                                </td>

                                                <!-- Prefix Field -->
                                                <td>
                                                    <span class="display-mode Prefix">{{ .Prefix }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Prefix }}" name="Prefix" style="display:none;">
                                                </td>

                                                <!-- Protocol Field -->
                                                <td>
                                                    <span class="display-mode Protocol">{{ .Protocol }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Protocol }}" name="Protocol" style="display:none;">
                                                </td>

                                                <!-- Zonename Field -->
                                                <td>
                                                    <span class="display-mode Zonename">{{ .Zonename }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .Zonename }}" name="Zonename" style="display:none;">
                                                </td>

                                                <!-- QueryCount Field -->
                                                <td>
                                                    <span class="display-mode QueryCount">{{ .QueryCount }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .QueryCount }}" name="QueryCount" style="display:none;">
                                                </td>

                                                <!-- ZonenameWithRecursion Field -->
                                                <td>
                                                    <span class="display-mode ZonenameWithRecursion">{{ .ZonenameWithRecursion }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .ZonenameWithRecursion }}" name="ZonenameWithRecursion" style="display:none;">
                                                </td>

                                                <!-- QueryCountWithRecursion Field -->
                                                <td>
                                                    <span class="display-mode QueryCountWithRecursion">{{ .QueryCountWithRecursion }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .QueryCountWithRecursion }}" name="QueryCountWithRecursion" style="display:none;">
                                                </td>

                                                <!-- ServiceMode Field -->
                                                <td>
                                                    <span class="display-mode ServiceMode">{{ .ServiceMode }}</span>
                                                    <input type="text" class="edit-mode form-control" value="{{ .ServiceMode }}" name="ServiceMode" style="display:none;">
                                                </td>
                                            </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>

<script>
    var originalData = {};

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.btn-outline-secondary').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();

                var segmentName = this.dataset.segment;
                var fileInput = document.getElementById('inputGroupFile' + segmentName);
                var formData = new FormData();
                formData.append('file', fileInput.files[0]);
                formData.append('segment', segmentName);
                
                fetch('/config/polling/file?segment=' + segmentName, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.text();
                }).then(data => {
                    showToast('Success', data, 'success');
                }).catch(error => {
                    showToast('Error', error.message, 'danger');
                });
            });
        });
    });

    function showToast(title, message, type) {
        var toastContainer = document.getElementById('toastContainer');
        var toastId = 'toast' + Date.now();
        var toastHtml = `
            <div class="toast show align-items-center text-white bg-${type} border-0" role="alert" aria-live="assertive" aria-atomic="true" id="${toastId}">
                <div class="d-flex">
                    <div class="toast-body">
                        <strong>${title}</strong> ${message}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>`;
        toastContainer.innerHTML += toastHtml;
        var toastEl = document.getElementById(toastId);
        var bsToast = new bootstrap.Toast(toastEl);
        bsToast.show();
        setTimeout(function() { bsToast.dispose(); }, 5000); // Auto-dismiss after 5 seconds
    }
    document.addEventListener('DOMContentLoaded', function() {
        // Handle edit button click
        document.querySelectorAll('.edit-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var segmentName = this.dataset.segment;
                enterEditMode(segmentName);
            });
        });

        // Handle save button click
        document.querySelectorAll('.save-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var segmentName = this.dataset.segment;
                saveChanges(segmentName);
            });
        });

        // Handle cancel button click
        document.querySelectorAll('.cancel-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var segmentName = this.dataset.segment;
                cancelChanges(segmentName);
            });
        });
    });

    function saveChanges(segmentName) {
        var updatedData = [];
        var rows = document.querySelectorAll('#collapse' + segmentName + ' tr');
        rows.forEach(function(row) {
            var rowData = {};
            var isEmptyRow = true;
            row.querySelectorAll('.edit-mode').forEach(function(input) {
                rowData[input.name] = input.value;
                if (input.value.trim() !== '') {
                    isEmptyRow = false;
                }
            });
    
            if (!isEmptyRow) {
                updatedData.push(rowData);
            }
        });
    
        // Send updatedData to the server
        fetch('/config/polling/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ segmentName: segmentName, data: updatedData })
        })
        .then(response => response.json())
        .then(data => {
            showToast('Success', 'Data updated successfully.', 'success');
    
            if (data.updatedData) {
                updateDisplayValues(segmentName, data.updatedData);
            }
            exitEditMode(segmentName);
        })
        .catch(error => {
            showToast('Error', 'Failed to update data: ' + error.message, 'danger');
        });
    }

    function updateDisplayValues(segmentName, updatedData) {
        var rows = document.querySelectorAll('#collapse' + segmentName + ' tbody tr');
    
        updatedData.forEach((rowData, index) => {
            if (index < rows.length) {
                var row = rows[index];
                Object.entries(rowData).forEach(([key, value]) => {
                    var displaySpan = row.querySelector('.display-mode.' + key);
                    if (displaySpan) {
                        displaySpan.innerText = value;
                    }
                    var editInput = row.querySelector('.edit-mode[name="' + key + '"]');
                    if (editInput) {
                        editInput.value = value; // Update the input value as well
                    }
                });
            }
        });
    }
    
    

    function exitEditMode(segmentName) {
        var rows = document.querySelectorAll('#collapse' + segmentName + ' tr');
        rows.forEach(function(row) {
            row.querySelectorAll('.edit-mode').forEach(function(input) {
                input.style.display = 'none';
            });
            row.querySelectorAll('.display-mode').forEach(function(span) { 
                span.style.display = ''; 
            });
        });
    
        // Hide save and cancel buttons, show edit button
        document.querySelector('.save-button[data-segment="' + segmentName + '"]').style.display = 'none';
        document.querySelector('.cancel-button[data-segment="' + segmentName + '"]').style.display = 'none';
        document.querySelector('.edit-button[data-segment="' + segmentName + '"]').style.display = 'inline-block';
    }

    function cancelChanges(segmentName) {
        var rows = document.querySelectorAll('#collapse' + segmentName + ' tr');
        rows.forEach(function(row) {
            row.querySelectorAll('.edit-mode').forEach(function(input) {
                input.value = input.getAttribute('data-original');
                input.style.display = 'none';
            });
            row.querySelectorAll('.display-mode').forEach(function(span) { span.style.display = ''; });
        });

        // Hide save and cancel buttons, show edit button
        document.querySelector('.save-button[data-segment="' + segmentName + '"]').style.display = 'none';
        document.querySelector('.cancel-button[data-segment="' + segmentName + '"]').style.display = 'none';
        document.querySelector('.edit-button[data-segment="' + segmentName + '"]').style.display = 'inline-block';
    }

    function enterEditMode(segmentName) {
        var rows = document.querySelectorAll('#collapse' + segmentName + ' tr');
        rows.forEach(function(row) {
            row.querySelectorAll('.display-mode').forEach(function(span) { 
                var input = span.nextElementSibling;
                input.setAttribute('data-original', span.innerText);
                span.style.display = 'none'; 
                input.style.display = ''; 
            });
        });

        // Show save and cancel buttons, hide edit button
        document.querySelector('.save-button[data-segment="' + segmentName + '"]').style.display = 'inline-block';
        document.querySelector('.cancel-button[data-segment="' + segmentName + '"]').style.display = 'inline-block';
        document.querySelector('.edit-button[data-segment="' + segmentName + '"]').style.display = 'none';
    }
    
</script>

{{ end }}
